@inject Microsoft.AspNetCore.Http.IHttpContextAccessor sessionData
@using Microsoft.AspNetCore.Http

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DisneyCafe</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="https://kit.fontawesome.com/8f204b104f.js" crossorigin="anonymous"></script>
    <link rel="icon" href="~/Favicon.ico" type="image/svg" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="header">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light mb-3">
            <div class="container nav-container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/GlowDisneyCafeTransparent.png" alt="DisneyCafe Logo" class="disneycafe-brand" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Order" asp-action="Catalog">Desserts</a>
                        </li>
                        @if (User.IsInRole("Administrator") || User.IsInRole("Owner"))
                        { 
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Authorized" asp-action="Index">Order Form</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <a asp-controller="Cart" asp-action="Checkout" class="text-dark">
            <span class="fas fa-shopping-cart">
                @{ 
                    int total = CartHelper.GetDessertCount(sessionData);
                }
                @if (total == 0)
                {
                    <text>Empty</text>
                }
                else
                { 
                    @total
                }
            </span>
        </a>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="container">
            &copy; 2020 - DisneyCafe
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
